<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/libs/jquery.min.js"></script>
    <script src="/libs/ajax.min.js"></script>
    <title>Кроссовки с сайта: joesnewbalanceoutlet</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-inverse">
            <a href="/" class="navbar-brand">OUTLET Украина!</a>
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Главная</a>
                </li>
                <li>
                    <a href="/about">О нас</a>
                </li>
                <li>
                    <a href="/contact">Связатся с нами</a>
                </li>
            </ul>
        </nav>
    </header>
    <%- defineContent('hero') %>

    <main>
        <div class="container my-mein">
            <% if (breadcrumbs) { %>
            <% for (var i=0; i < breadcrumbs.length; i++) { %>
            <% if (i == ( breadcrumbs.length - 1 )) { %>
            <ol class="breadcrumb">
                <li><a href="<%= breadcrumbs[i].url %>">
                        <%= breadcrumbs[i].name %></a></li>
                <li>
                    <span><%= breadcrumbs[i].name %></span>
                </li>
            </ol>
            <% } %>
            <% } %>
            <% } %>
            <%- body %>
        </div>
    </main>
    <footer>
        <p>site design / nedov. Copyright &copy; 2017</p>
    </footer>
</body>

</html>