<%- contentFor('hero') %>
<%- contentFor('body') %>
<div class="jumbotron text-center">
  <h1>The Team</h1>
  <div class="row">
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><b><%= error.stack %></b></pre>
    </div>
</div>